body {
  color: #7e8588;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}

.wrapper {
  padding: 10px;
  display: flex;
}

.subs, .info {
  background-color: #fff;
}

.field {
  background-image: url("pitch.jpg");
  width: 532px;
  height: 800px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.subs {
  width: 100px;
  padding: 15px;
  border-bottom: 2px solid #6e0f0f;
}

.info {
  border: 2px solid #6e0f0f;
  border-width: 0 2px 2px 0;
  padding: 15px 40px 15px 15px;
}

.row {
  height: 45px;
  padding: 15px 15px 0;
  display: flex;
  justify-content: space-evenly;
}

.blob {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: #fff;
  color: #a50202;
  border-radius: 22px;
  border: 2px solid #6e0f0f;
  margin-bottom: 5px;
}

.save-url-btn, .save-url-input {
  display: block;
}

.save-url-btn {
  box-sizing: border-box;
  height: 40px;
  line-height: 36px;
  padding: 0 20px;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #6e0f0f;
  border: 2px solid #6e0f0f;
  border-radius: 20px;
  margin-bottom: 10px;
}

.save-url-btn:hover, .save-url-btn:active, .save-url-btn:focus {
  border: 2px solid #6e0f0f;
  background-color: #fff;
  color: #6e0f0f;
}

.save-url-input {
  padding: 5px;
  color: #6e0f0f;
  font-size: 14px;
  border: 1px solid #6e0f0f;
  margin-bottom: 10px;
}


.team-info-header {
  color: #6e0f0f;
}